<!-- ------------------------------------- LOGIN PAGE --------------------------------- -->

<!-- ------------------------------------- CABECERO ----------------------------------- -->

<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <div class="col-6">
      <a
        class="nav-link p-0"
        href="https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa"
        target="_blank"
      >
        <img
          src="../../../assets/navbar-header-images/arg-programa.png"
          alt="Logo-Argentina-Programa"
          class="argentina-programa-logo"
        />
        <strong id="yo-programo">#YoProgramo</strong>
      </a>
    </div>
  </div>
</nav>

 
 <!-- --------------------------------- LOGIN / INICIAR SESION --------------------------- -->

 <div class="container-fluid container-fondo">
  <div class="row">
    <div class="card-container">
      <div class="card">
          <div class="card-header">
            <h3>Inicio de Sesion</h3>
          </div>
          <div class="card-body">
            <form
              (submit)="onSend(loginForm.value)"
              [formGroup]="loginForm"
            >
              <div class="form-group">

<!-- ------------------------------ INGRESO DE EMAIL ------------------------------------ -->

                <label for="email" class="form-label"> Email:</label>
                <input
                  type="email"
                  [ngClass]="{
                    'is-invalid': mail?.touched && mail?.errors,
                    'is-valid': mail?.touched && !mail?.errors
                  }"
                  class="form-control"
                  id="name"
                  name="name"
                  formControlName="mail"
                  placeholder="name@example.com"
                  required
                />
              </div>

<!-- ------------------------------ VALIDACIONES DE EMAIL --------------------------------- -->

              <div
                *ngIf="mail?.touched && mail?.errors?.['required']"
                class="alert alert-danger"
              >
                El e-mail es requerido.
              </div>
              <div
                *ngIf="mail?.touched && mail?.errors?.['email']"
                class="alert alert-danger"
              >
                Debe ser una direccion de e-mail.
              </div>

              <div class="form-group">

 <!-- ---------------------------------INGRESO DE CONTRASEÑA  ------------------------------ -->

                <label for="password" class="form-label"> Contraseña:</label>
                <input
                  type="password"
                  [ngClass]="{
                    'is-invalid': password?.touched && password?.errors,
                    'is-valid': password?.touched && !password?.errors
                  }"
                  class="form-control"
                  id="password"
                  name="password"
                  formControlName="password"
                  placeholder="Ingrese su contraseña"
                  required
                />
              </div>

 <!-- ------------------------------- VALIDACIONES DE CONTRASEÑA --------------------------- -->

              <div
                *ngIf="password?.touched && password?.errors?.['required']"
                class="alert alert-danger"
              >
                La contraseña es requerida.
              </div>
              <div
                *ngIf="password?.touched && password?.errors?.['minlength']"
                class="alert alert-danger"
              >
                La contraseña debe contener al menos
                {{password?.errors?.['minlength']?.requiredLength}} caracteres.
              </div>
              <div
                *ngIf="password?.touched && password?.errors?.['maxlength']"
                class="alert alert-danger"
              >
                La contraseña no debe contener mas de
                {{password?.errors?.['maxlength']?.requiredLength}} caracteres.
              </div>

 <!-- ------------------------------------ BOTON ENVIAR --------------------------------- -->

              <input
                type="submit"
                class="btn btn-primary btn-modal"
                style="cursor: pointer"
                value="Iniciar Sesion"
                [disabled]="loginForm.invalid"
              />
              <input
                type="button"
                class="btn btn-primary btn-modal"
                routerLink="/"
                value="Volver"
              />
            </form>
            <div class="card-footer">
              <div *ngIf="" class="alert alert-danger">
                La contraseña es requerida.
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

 <!-- -------------------------------------------------- --------------------------------- -->
