<!-------------------------------- INFO PERFIL Y ACERCA DE --------------------------->
<div class="container">
  <div class="row profile-text">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <h2>{{ portfolioData.name }}</h2>
      <p><strong>{{ portfolioData.profession }}</strong></p>
      <p>{{ portfolioData.location }}, {{ portfolioData.province }}, {{ portfolioData.country }}</p>
      <a href="#">{{ portfolioData.contact }}</a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 about-me">
      <h2>Acerca de mi</h2>
      <p>
        {{ portfolioData.aboutMe }}
      </p>
    </div>
  </div>
</div>
