.flex-container-footer{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: rgb(206, 206, 206);
    box-shadow: 0px 0px 10px rgb(53, 53, 53);
}

p {
    text-align: center;
}