<hr />
<!---------------------------------- HARD AND SOFT SKILLS --------------------------------->

<div class="container p-5">
  <h1>Hard & Soft Skills</h1>
</div>

<div class="container">
  <circle-progress
    [percent]="70"
    [radius]="100"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="10"
    [outerStrokeColor]="'#e67f53'"
    [innerStrokeColor]="'#e7e8ea'"
    [animation]="true"
    [animationDuration]="300"
    [showImage]="true"
    [imageSrc]="'../assets/html.png'"
    [imageWidth]="100"
    [imageHeight]="100"
    [space]="-10"
  ></circle-progress>

  <circle-progress
    [percent]="60"
    [radius]="100"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="10"
    [outerStrokeColor]="'#4978d6'"
    [innerStrokeColor]="'#e7e8ea'"
    [animation]="true"
    [animationDuration]="300"
    [showImage]="true"
    [imageSrc]="'../assets/css.png'"
    [imageWidth]="100"
    [imageHeight]="120"
    [space]="-10"
  ></circle-progress>

  <circle-progress
    [percent]="50"
    [radius]="100"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="10"
    [outerStrokeColor]="'#ede461'"
    [innerStrokeColor]="'#e7e8ea'"
    [animation]="true"
    [animationDuration]="300"
    [showImage]="true"
    [imageSrc]="'../assets/javascript.png'"
    [imageWidth]="110"
    [imageHeight]="100"
    [space]="-10"
  ></circle-progress>

  <circle-progress
    [percent]="60"
    [radius]="100"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="10"
    [outerStrokeColor]="'#6411b8'"
    [innerStrokeColor]="'#e7e8ea'"
    [animation]="true"
    [animationDuration]="300"
    [showImage]="true"
    [imageSrc]="'../assets/bootstrap.png'"
    [imageWidth]="150"
    [imageHeight]="150"
    [space]="-10"
  ></circle-progress>

  <circle-progress
    [percent]="60"
    [radius]="100"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="10"
    [outerStrokeColor]="'#1178b8'"
    [innerStrokeColor]="'#e7e8ea'"
    [animation]="true"
    [animationDuration]="300"
    [showImage]="true"
    [imageSrc]="'../assets/ts1.png'"
    [imageWidth]="70"
    [imageHeight]="70"
    [space]="-10"
  ></circle-progress>

  <circle-progress
    [percent]="50"
    [radius]="100"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="10"
    [outerStrokeColor]="'#c41a1a'"
    [innerStrokeColor]="'#e7e8ea'"
    [animation]="true"
    [animationDuration]="300"
    [showImage]="true"
    [imageSrc]="'../assets/algo.png'"
    [imageWidth]="100"
    [imageHeight]="100"
    [space]="-10"
  ></circle-progress>

  <circle-progress
    [percent]="85"
    [radius]="100"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="10"
    [outerStrokeColor]="'#bf4b4b'"
    [innerStrokeColor]="'#e7e8ea'"
    [animation]="true"
    [animationDuration]="300"
    [showImage]="true"
    [imageSrc]="'../assets/java.png'"
    [imageWidth]="120"
    [imageHeight]="120"
    [space]="-10"
  ></circle-progress>

  <circle-progress
    [percent]="20"
    [radius]="100"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="10"
    [outerStrokeColor]="'#70c965'"
    [innerStrokeColor]="'#e7e8ea'"
    [animation]="true"
    [animationDuration]="300"
    [showImage]="true"
    [imageSrc]="'../assets/spring.png'"
    [imageWidth]="100"
    [imageHeight]="100"
    [space]="-10"
  ></circle-progress>

  <circle-progress
    [percent]="40"
    [radius]="100"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="10"
    [outerStrokeColor]="'#4247ad'"
    [innerStrokeColor]="'#e7e8ea'"
    [animation]="true"
    [animationDuration]="300"
    [showImage]="true"
    [imageSrc]="'../assets/c.png'"
    [imageWidth]="100"
    [imageHeight]="100"
    [space]="-10"
  ></circle-progress>

  <circle-progress
    [percent]="35"
    [radius]="100"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="10"
    [outerStrokeColor]="'#db4d4d'"
    [innerStrokeColor]="'#e7e8ea'"
    [animation]="true"
    [animationDuration]="300"
    [showImage]="true"
    [imageSrc]="'../assets/ruby.png'"
    [imageWidth]="100"
    [imageHeight]="100"
    [space]="-10"
  ></circle-progress>

  <circle-progress
    [percent]="20"
    [radius]="100"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="10"
    [outerStrokeColor]="'#557da1'"
    [innerStrokeColor]="'#e7e8ea'"
    [animation]="true"
    [animationDuration]="300"
    [showImage]="true"
    [imageSrc]="'../assets/mysql.png'"
    [imageWidth]="100"
    [imageHeight]="100"
    [space]="-10"
  ></circle-progress>

  <circle-progress
    [percent]="05"
    [radius]="100"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="10"
    [outerStrokeColor]="'#296294'"
    [innerStrokeColor]="'#e7e8ea'"
    [animation]="true"
    [animationDuration]="300"
    [showImage]="true"
    [imageSrc]="'../assets/postgre.png'"
    [imageWidth]="100"
    [imageHeight]="100"
    [space]="-10"
  ></circle-progress>

  <circle-progress
    [percent]="40"
    [radius]="100"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="10"
    [outerStrokeColor]="'#edc46b'"
    [innerStrokeColor]="'#e7e8ea'"
    [animation]="true"
    [animationDuration]="300"
    [showImage]="true"
    [imageSrc]="'../assets/firebase.png'"
    [imageWidth]="150"
    [imageHeight]="60"
    [space]="-10"
  ></circle-progress>

  <circle-progress
    [percent]="55"
    [radius]="100"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="10"
    [outerStrokeColor]="'#050505'"
    [innerStrokeColor]="'#e7e8ea'"
    [animation]="true"
    [animationDuration]="300"
    [showImage]="true"
    [imageSrc]="'../assets/eng.png'"
    [imageWidth]="80"
    [imageHeight]="60"
    [space]="-10"
  ></circle-progress>

  <circle-progress
    [percent]="80"
    [radius]="100"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="10"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#e7e8ea'"
    [animation]="true"
    [animationDuration]="300"
    [showImage]="true"
    [imageSrc]="'../assets/team-work.png'"
    [imageWidth]="110"
    [imageHeight]="110"
    [space]="-10"
  ></circle-progress>

</div>
