<hr />
<!---------------------------------- HARD AND SOFT SKILLS --------------------------------->

<div class="container p-5">
  <h1>Hard & Soft Skills</h1>
  <a href="#">
    <i class="fa-solid fa-plus"></i>
  </a>
</div>

<div class="flex-container container">
  <div *ngFor="let skill of skills">
    <h6>{{ skill.skill }}</h6>
    <circle-progress
      [percent]="skill.percent"
      [radius]="100"
      [outerStrokeWidth]="15"
      [innerStrokeWidth]="10"
      [outerStrokeColor]="skill.colorCircle"
      [innerStrokeColor]="'#e7e8ea'"
      [animation]="true"
      [animationDuration]="300"
      [showImage]="true"
      [imageSrc]="skill.img"
      [imageWidth]="100"
      [imageHeight]="100"
      [space]="-10"
    ></circle-progress>
    <a href="#">
      <i class="fa-solid fa-pen-to-square"></i>
    </a>
    <a href="#">
      <i class="fa-solid fa-trash-can"></i>
    </a>
  </div>
</div>
