<hr />
<!------------------------------------- PROYECTOS ------------------------------------------>

<div class="container p-5">
  <h1>Proyectos</h1>
</div>

<div *ngFor="let project of projects" class="flex-container-project">
  <div class="flex-img mr-5 col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <img
      src="../../../assets/uno-1.jpg"
      [alt]="project.name"
      class="img-work"
    />
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <div class="flex-tittle-time">
      <div>
        <h3>{{ project.name }}</h3>
      </div>
      <div>
        <h4>({{ project.since }} - {{ project.to }})</h4>
      </div>
    </div>

    <div>
      <h5>{{ project.company }}</h5>
    </div>
    <div>
      {{ project.description }}
    </div>
  </div>
</div>
