<!-- ------------------------------------- NOT FOUND --------------------------------- -->

<!-- ------------------------------------- CABECERO ----------------------------------- -->

<nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
      <div class="col-6">
        <a
          class="nav-link p-0"
          href="https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa"
          target="_blank"
        >
          <img
            src="../../../assets/navbar-header-images/arg-programa.png"
            alt="Logo-Argentina-Programa"
            class="argentina-programa-logo"
          />
          <strong id="yo-programo">#YoProgramo</strong>
        </a>
      </div>
    </div>
  </nav>
  
   
   <!-- --------------------------------- CONTENT --------------------------- -->

   <div class="container-fondo">
        <h2>Lo sentimos, la pagina solicitada no existe.</h2>
   </div>