<hr />
<!---------------------------- EXPERIENCIA LABORAL ---------------------------->
<div class="container p-5">
  <h1>Experiencia Laboral</h1>
</div>

<div *ngFor="let experience of experiences" class="flex-container-experience">
  <div class="flex-img mr-5 col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <img
      src="../../../assets/experience-image/uno-1.jpg"
      [alt]="experience.company"
      class="img-work"
    />
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <div class="flex-tittle-time">
      <div>
        <h3>{{ experience.company }}</h3>
      </div>
      <div>
        <h4>({{ experience.since }} - {{ experience.to }})</h4>
      </div>
    </div>

    <div>
      <h5>{{ experience.position }}</h5>
    </div>
    <div>{{ experience.description }}</div>
  </div>
</div>
